/*css for banner*/

.banner {
    height: 608px;
}

.banner-content {
    position: absolute;
    width: 481px;
    height: 265px;
    left: 120px;
    top: 180px;
}

.banner-title {
    font-size: 40px;
    font-weight: bold;
}

.banner-content>a {
    display: block;
    text-decoration: none;
    background: #2639ED;
    color: #fff;
    height: 50px;
    width: 160px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 20px;
}

.banner-content>a:hover {
    background-color: #4355f7;
}

.banner p {
    color: #565656;
}

.banner-image {
    position: absolute;
    width: 654px;
    height: 512px;
    right: 0;
    top: 80px;
    border-radius: 0 0 0 100px;
    z-index: 1;
}

.banner-ellipse {
    background: #c1d4f1;
    position: absolute;
    width: 129px;
    height: 129px;
    left: 746px;
    top: 80px;
    border-radius: 50%;
}

/*css for latest news*/

.news-tittle {
    font-size: 32px;
    font-weight: 600;
    word-spacing: 2px;
}

.news-tittle::after {
    margin-top: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: black;
}

.news-date {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    float: right;
}

.news-summary {
    margin-top: 20px;
    font-size: 18px;
    text-align: justify;
}

.news-summary>a {
    text-decoration: none;
    font-style: italic;
}

/* css for contact-form */

.contact-background {
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
}


.contact-container {
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
}



.contact {
    display: block;
    position: relative;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 5%;
    box-shadow: 1px 1px 5px #323232;
}

.contact .close {
    position: absolute;
    right: 0;
    display: block;
    height: 20px;
    width: 20px;
    padding: 5px;
    color: #fff;
    text-align: center;
    line-height: 20px;
}

.contact .close:hover {
    background-color: red;
    cursor: pointer;

}

.contact h2 {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #57c9f3;
    padding: 14px;
}

.contact table {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    padding: 10px 40px;
}

.contact table td {
    margin: 0 10px;
    height: 40px;
}

.contact table td input {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #c1d4f1;
    height: 20px;
    padding: 10px;
}

#contact-who {
    width: 100%;
    height: 40px;
    padding: 6px;
    border: 0;
    border-bottom: 1px solid #c1d4f1;
    font-style: italic;
    color: #838383;
}

#contact-who>* {
    font-style: normal;
}

.contact textarea {
    width: 96%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #c1d4f1;
}

.contact-submit {
    text-align: center;

}

.contact-submit input {
    height: auto !important;
    width: 80px !important;
    border-radius: 5px;
    background-color: rgb(53, 53, 245);
    color: white;
    font-size: medium;
    margin-top: 30px;
}

.contact-submit input:hover {
    cursor: pointer;
}