thead {
    text-align: center;
    background-color: rgb(67, 67, 236);
}

thead td {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

tbody tr {
    background-color: rgb(223, 225, 246);

}

td {
    padding: 12px;
}

tr>.no,
.name,
.code,
.status,
.more,
.member {
    text-align: center;
}

td.summary {
    width: 560px;
}

/* css for concept */

.concept form {
    margin: 0 auto;
    width: 480px;
}

.concept tr {
    background-color: #aaabdc;
}

.concept input {
    border: 0;
    height: 24px;
    width: 94%;
    padding: 10px;
    background-color: #d6d4fb;
}

.concept #man,
#woman {
    width: fit-content;
    height: fit-content;
}

.concept textarea {
    padding: 10px;
    border: 1px solid #d6d4fb;
    width: 94%;
    background-color: #d6d4fb;
}

.concept .submit {
    text-align: right;
}

.concept .submit input {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(53, 53, 245);
    color: white;
    font-size: medium;
}

.concept .submit input:hover {
    cursor: pointer;
    background-color: rgb(86, 86, 240);
}